.logo-container {
  cursor: pointer;
  background: white;
}

.bottom-container {
  display: flex;
  padding: 1em;
}

.info-container {
  text-align: left;
  width: 60%;
}

.title-container {
  display: flex;
  align-items: baseline;

  .market-symbol {
    font-weight: 600;
    font-size: 1.25em;
  }

  .separator {
    margin: 0 0.5em;
    font-weight: 400;
    font-size: 0.9em;
    color: gray;
  }

  .market-name {
    font-weight: 400;
    font-size: 0.9em;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.stats-container {
  margin-top: 0.25em;

  .stock-value {
    font-weight: 600;
    font-size: 1.75em
  }

  .stock-variation {
    margin: 0 0.25em;
    font-weight: 400;
    font-size: 0.9em;
  }

  .stock-percentage {
    font-weight: 400;
    font-size: 0.9em;
  }
}

.sparkline-container {
  width: 40%;
  align-self: flex-end
}
