.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.market-container {
  width: 22.5%;
  padding: 1em;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}


/* On mouse-over, add a deeper shadow */
.market-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
