.search-container {
  padding: 2em 25%;
  position: relative;
  background: black;
}

.search-input {
  width: 100%;
  height: 50px;
  padding-left: 2em;
  font-size: 1em;
  border: white;
  border-radius: 8px;
}

.search-input:focus {
  outline-width: 0;
}

.results-container {
  width: 50%;
  position: absolute;
  z-index: 1000;
  margin-top: -8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #eee;
}

.result-item{
  cursor: pointer;
  padding: 1em;
}

.result-item:hover {
  color: white;
  background-color: cornflowerblue;
}

.result-no-data{
  padding: 2em;
  text-align: center;
}