@import "responsive";

.container {
  margin: 0;

  @include md {
    margin: 0;
  }
  @include lg {
    margin: 0 10%;
  }
}

.chart-container {
  background: white;
  border-radius: 8px;
  padding: 2em;
  margin-top: 2em
}

.market-title {
  padding: 0
}

.chart {

}

.info-container {
  background: white;
  border-radius: 8px;
  padding: 2em;
  margin-top: 2em
}